@import "tailwindcss";
@import "@vite-mf-monorepo/shared/src/tailwind/theme.css";
@import "@vite-mf-monorepo/layouts/styles.css";
@import "@vite-mf-monorepo/ui/styles.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
